# Python package
# Create and test a Python package on multiple Python versions.
# Add steps that analyze code, save the dist with the build record, publish to a PyPI-compatible index, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/python

trigger:
  - master

pool:
  vmImage: 'ubuntu-latest'
strategy:
  matrix:
    pypy3:
      python.version: 'pypy3'
      nox.env: 'tests-pypy3'
    Python35:
      python.version: '3.5'
      nox.env: 'tests-py35'
    Python36:
      python.version: '3.6'
      nox.env: 'tests-py36'
    Python37:
      python.version: '3.7'
      nox.env: 'tests-py37'
    Python38:
      python.version: '3.8'
      nox.env: 'tests-py38'
    Linting:
      python.version: '3.7'
      nox.env: 'flake8'

steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '$(python.version)'
      architecture: 'x64'
    displayName: Use cached Python $(python.version) for tests.

  - script: |
      pip install --upgrade pip nox
    displayName: 'Install dependencies'

  - script: |
      ls -lah
      nox -e $(nox.env)
    displayName: 'nox --session $(nox.env)'

  - task: PublishTestResults@2
    condition: and(succeededOrFailed(), eq(variables['publish'], 'true'))
    inputs:
      testResultsFiles: '**/test-*.xml'
      testRunTitle: 'Publish test results for Python $(python.version)'


